/* About */
.about {
  width: 80%;
  text-align: right;
  padding-bottom: 1rem;
  padding-right: 1rem;
}

@media screen and (max-width: 749px) {
  .about {
    width: 90%;
    padding-bottom: 0;
  }
}

@media screen and (max-width: 599px) {
  .about {
    width: 100%;
    padding: 0 1rem;
  }
}